# 忽略指定文件夹
weights/
experiment/
nohup/
data/
results/
middle/
partial_weights/
final_results_LE/
grab_gpu.py
grab_gpu_realword.py
grab_gpu_scm.py
train_lws.py
train_proden.py
train_rccc.py
train_d2cnn.py
train_cavl.py
train_proden_DA.py
test.py
task_list